
<div class="bootstrap-wrapper">
    <div class="container-fluid">
        <mat-card class="mt20">
            <div class="row">
                <div class="col-md-12 text-center" *ngIf="!loader">
                        <h1 class="text-center">Course Video is not Found!!!</h1>
                </div>
                <div class="col-md-12 text-center" *ngIf="!spinner">
                    <!-- <mat-spinner></mat-spinner> -->
                </div>
            </div>
            <div class="row" *ngIf="loader">
                <div class="col-md-8 left">
                            <div class="player">
                            <youtube-player [videoId]="videoId"
                            [height]="height" 
                            [width]="width" 
                            suggestedQuality="hd720">
                           </youtube-player>
                            </div>
                            <mat-card-header>
                                <mat-card-subtitle>{{course.date}}</mat-card-subtitle>
                                <mat-card-subtitle>
                                    <p>Course: {{course.courses.title}}</p>
                                </mat-card-subtitle>
                                <mat-card-title>{{course.v_title}}</mat-card-title>
                            </mat-card-header>
                            <mat-card-content>
                                <p >Description:<span class="ml10" [innerHtml]="course.v_description"></span></p>
                            </mat-card-content>
                </div>
                <div class="col-md-4 right">
                        <mat-card>
                            <mat-action-list >
                                <div matCardContent *ngFor="let c of courses;index as i">
                                    <button mat-list-item id="list{{i}}" class="list" (click)="onVideo(c.v_title,c.vId,i)" name="{{i}}">
                                        <p>Lecture {{i+1}} {{c.v_title}}</p>
                                    </button>
                                </div>
                            </mat-action-list>
                            <hr>
                        </mat-card>                    
                </div>
            </div>
        </mat-card>
    </div>
</div>