<mat-card>
    <h1 class="text-left">Course Video <span style="color: grey; font-weight:bold;">{{qTitle}}</span></h1>
    <mat-card-content>
        <div class="bootstrap-wrapper">
            <div class="row">
                <div class="col-md-8 offset-md-2">
                    <form #courseForm="ngForm" (ngSubmit)="updateCourseVideo(courseForm)">
                        <div class="row">
                            <div class="col-md-12">
                                <mat-form-field class="w100" appearance="fill">
                                    <mat-label>Title</mat-label>
                                    <input autofocus type="text" name="title" matInput [ngModelOptions]="{standalone: true}"
                                    [(ngModel)]="courseVideoForm.v_title" placeholder="Enter here">
                                </mat-form-field>
                            </div>
                            <div class="col-md-12">
                                <mat-label>Description</mat-label>
                                <ckeditor autofocus tagName="textarea" [editor]="Editor"
                                    name="v_description"
                                    [ngModelOptions]="{standalone: true}" [(ngModel)]="courseVideoForm.v_description" rows="5"></ckeditor>
                            </div>
                        <div class="col-md-12 mt20">
                            <mat-form-field class="w100" appearance="fill">
                                <mat-label>Video URL</mat-label>
                                <input type="text" name="url" matInput [ngModelOptions]="{standalone: true}" [(ngModel)]="courseVideoForm.url" placeholder="Enter here">
                            </mat-form-field>
                        </div>
                        <div class="col-md-12">
                            <mat-label>Thumbnail</mat-label>
                                <div *ngIf="imgUpload">
                                    <label class="upload"><img [src]="imgUpload" alt=""></label>
                                </div>
                                <div>
                                    <label for="image" class="upload"><img src="./../../../assets/images/sciaku-upload.png" alt=""><span>Browse image</span></label>
                                    <input id="image" multiple type="file" value="select" #selectFile (change)="onFileSelected($event)">
                                    <div *ngIf="currentFile" class="progress">
                                        <div class="progress-bar progress-bar-info progress-bar-striped" role="progressbar"
                                            attr.aria-valuenow="{{ progress }}" aria-valuemin="0" aria-valuemax="100"
                                            [ngStyle]="{ width: progress + '%' }">
                                            {{ progress }}%
                                        </div>
                                    </div>
                                    <div class="alert alert-light" role="alert">{{ message }}</div>
                                </div>
                        </div>
                        <div class="col-md-6 mt20">
                            <mat-slide-toggle [ngModelOptions]="{standalone: true}" class="example-margin" [color]="color"
                                [checked]="checked" [(ngModel)]="courseVideoForm.status">
                                Publish Status
                            </mat-slide-toggle>
                        </div>
                        </div>
                        <div class="container text-center mt20">
                            <button mat-raised-button color="primary">Update</button>
                            <button class="ml20" style="margin-left: 20px;" type="reset" mat-stroked-button
                                color="warn">Reset</button>
                        </div>
                    </form>
                    <!-- {{quizForm.value|json}} -->
                </div>
            </div>
        </div>
    </mat-card-content>
</mat-card>