

<mat-card>
    <h1 class="text-left">Add Books</h1>
    <mat-card-content>
        <div class="bootstrap-wrapper">
            <div class="row">
                <div class="col-md-8 offset-md-2">
                    <form #courseForm="ngForm" (ngSubmit)="addBooks(courseForm)">
                        <div class="row">
                            <div class="col-md-12">
                                <mat-form-field class="w100" appearance="outline">
                                    <mat-label>Course Title</mat-label>
                                    <input autofocus type="text" name="title" matInput [(ngModel)]="booksForm.b_name" [ngModelOptions]="{standalone: true}" placeholder="Enter here">
                                </mat-form-field>
                            </div>
                            <div class="col-md-12">
                                <mat-form-field class="w100" appearance="outline">
                                    <mat-label>Course Description</mat-label>
                                    <textarea name="description" matInput [(ngModel)]="booksForm.description" [ngModelOptions]="{standalone: true}" placeholder="Enter here" rows="5"></textarea>
                                </mat-form-field>
                            </div>
                            <div class="col-md-12">
                                <mat-slide-toggle [(ngModel)]="booksForm.status" class="example-margin" [ngModelOptions]="{standalone: true}" [color]="color" [checked]="checked">
                                    Publish Status
                                </mat-slide-toggle>
                            </div>
                            <div class="col-md-12">
                                <mat-label>Thumbnail</mat-label>
                                    <div *ngIf="imgUpload">
                                        <label class="upload"><img [src]="imgUpload" alt=""></label>
                                        <!-- <button mat-button (click)="upload()" [disabled]="!selectedFiles">Upload</button> -->
                                    </div>
                                    <div>
                                        <label for="image" class="upload"><img src="./../../../assets/images/sciaku-upload.png" alt=""><span>Browse image</span></label>
                                        <input id="image" multiple type="file" value="select" #selectFile (change)="onFileSelected($event)">
                                        <div *ngIf="currentFile" class="progress">
                                            <div class="progress-bar progress-bar-info progress-bar-striped" role="progressbar"
                                                attr.aria-valuenow="{{ progress }}" aria-valuemin="0" aria-valuemax="100"
                                                [ngStyle]="{ width: progress + '%' }">
                                                {{ progress }}%
                                            </div>
                                        </div>
                                        <div class="alert alert-light" role="alert">{{ message }}</div>
                                    </div>
                                </div>
                        </div>
                            <!-- <input (change)="onFileSelected($event)" value="select" type="file"/> -->
                        <div class="container text-center mt15">
                            <button type="submit" mat-raised-button color="primary">Add Courses</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </mat-card-content>
</mat-card>