<footer class="text-center text-lg-start bg-light text-muted">
    <section class="mt-3 py-3">
        <div class="container text-center text-md-start mt-5">
            <div class="row mt-3">
                <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                    <h6 class="text-uppercase fw-bold mb-4"><i class="fas fa-gem me-3"></i>Sciaku Education</h6>
                    <p class="text-muted">This website provides you a technical and programming content like Java Programming, Python
                        Programming, C Programming, PHP Programming, Android Development, MEAN Stack, MERN Stack, Web Development, etc. Learn how to make
                        software, website, and applications here.</p>
                </div>
                <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                    <h6 class="text-uppercase fw-bold mb-4">Products</h6>
                    <p><a class="text-reset" routerLink="/courses/course-details/169">Android App Development With Kotlin</a></p>
                    <p><a routerLink="/courses/course-details/169" class="text-reset">Spring Boot Project Course</a></p>
                    <p><a class="text-reset" routerLink="/courses/course-details/169">Crash Courses</a></p>
                    <p><a class="text-reset" routerLink="/courses/course-details/169">Advance Java J2EE</a></p>
                </div>
                <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                    <h6 class="text-uppercase fw-bold mb-4">Useful links</h6>
                    <p><a rel="noreferrer" target="_blank" href="https://www.youtube.com/@sciaku/"
                            class="text-reset">YouTube</a></p>
                    <p><a target="_blank" rel="noreferrer" href="https://www.instagram.com/sciaku_science_knowledge/"
                            class="text-reset">Instagram</a></p>
                    <p><a rel="noreferrer" target="_blank" href="https://www.facebook.com/gyan.prakash.7985/"
                            class="text-reset">Facebook</a></p>
                    <p><a href="https://www.linkedin.com/in/gyan-prakash-686740220//" rel="noreferrer" target="_blank"
                            class="text-reset">LinkedIn</a></p>
                </div>
                <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                    <h6 class="text-uppercase fw-bold mb-4">Contact</h6>
                    <p><i class="fas fa-home me-3"></i> Uttar Pradesh, India</p>
                    <p><i class="fas fa-envelope me-3"></i>info@sciaku.com</p>
                    <p><i class="fas fa-phone me-3"></i> + 79 850 797 40</p>
                    <p><i class="fas fa-print me-3"></i> + 81 749 818 05</p>
                </div>
            </div>
        </div>
    </section>
    <div class="text-center copy p-4 bg-dark text-white">
        <p>Copyright &copy; 2022-23 <strong>Created by <a href="https://aeromus-gyan.web.app/"
        target="_blank">Gyan Prakash</a></strong></p>
        <a routerLink="/privacy-policy">Privacy Policy</a></div>

</footer>