
  <div class="container-fluid">
    <div class="row">
      <mat-toolbar color="primary" class="food-btn" id="tool">
      <div class="col-md-8">
        <mat-card-header>
            <a (click)="homePage()" ><img class="logo" src="./../../../assets/images/Sciaku.png" alt="Sciaku Logo" title="Sciaku Logo"></a>
        </mat-card-header>
      </div>
      <div class="col-md-4 offset-md-0">
        <div class="menu">
          <a class="icon" (click)="myFunction()">
            <mat-icon >menu</mat-icon>
          </a>
        </div>
        <span class="example-spacer"></span>
        <div class="row topnav" id="myTopnav">
          <div class="col-md-3 button">
            <button class="mr20" mat-raised-button routerLink="/">Home</button>
          </div>
          <!-- <div class="col-md-2 button">
            <button mat-raised-button color="accent">Feature</button>
          </div> -->
          <div class="col-md-3 button">
            <button class="mr20" mat-raised-button routerLink="/courses">Courses</button>
          </div>
          <div *ngIf="isLoggedin" class="col-md-3 button">
            <button class="mr20" class="mr20" mat-raised-button color="primary" class="example-icon">
                {{this.login.getUser().username}} </button>
          </div>
          <div *ngIf="!isLoggedin" class="col-md-3 button">
                <button class="mr20" routerLink="/login" mat-raised-button class="example-icon"
                    aria-label="Example icon-button with login icon">
                    <mat-icon>login</mat-icon>
                    <span>Login</span>
                </button>
          </div>
          <div *ngIf="isLoggedin" class="col-md-3 button">
            <a class="mr20" (click)="logout()" mat-raised-button class="example-icon"
                aria-label="Example icon-button with login icon">
                <mat-icon>logout</mat-icon>
                <span>Logout</span>
            </a>
          </div>
          <div *ngIf="!isLoggedin" class="col-md-3 button">
            <button class="mr20" class="mr20" routerLink="/signup" mat-raised-button class="example-icon"
                aria-label="Example icon-button with app_registration icon">
                <mat-icon>app_registration</mat-icon>
                <span>Register</span>
            </button>
          </div>
          
        </div>
      </div>
    </mat-toolbar>
    </div>
  </div>





<!-- <mat-toolbar color="primary"> -->
    <!-- <a routerLink="/" mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu_book</mat-icon>
    </a> -->
    <!-- <span class="example-spacer"></span>
    </a>
</mat-toolbar> -->