

<div class="bootstrap-wrapper">
    <h1 class="mt10 mr20 ml20">All Courses</h1>
    <div class="container text-center mt20">
        <a routerLink="/admin/add-courses" mat-flat-button color="accent">Add Courses</a>
    </div>
    <div  class="mt10">
        <mat-accordion class="p10" *ngFor="let c of courses; index as i;">
            <mat-expansion-panel   (opened)="panelOpenState = true"
                                 (closed)="panelOpenState = false">
              <mat-expansion-panel-header>
                <mat-panel-title>
                    C{{i + 1}}) {{c.title}}
                </mat-panel-title>
                <mat-panel-description>
                  <!-- Currently I am {{panelOpenState ? 'open' : 'closed'}} -->
                </mat-panel-description>
              </mat-expansion-panel-header>
          
              <mat-card >
                  <div class="row">
                      <div class="col-md-3">
                          <img mat-card-image src="{{imgUrl + 'courses/' + c.thumbnail}}" alt="{{c.thumbnail}}" height="250px">
                      </div>
                      <div class="col-md-8 ml20">
                          <h1></h1>
                          <p>{{c.description}}</p> 
                          <div class="row mt10">
                              <div class="col-md-2">
                                  <a routerLink="/admin/course-lectures/{{c.url}}/{{c.cId}}" mat-flat-button color="accent" class="mr20 ml20">Lectures</a>
                              </div>
                              
                              <div class="col-md-1">
                                  Status
                                  <mat-slide-toggle (change)="onUpdateStatus(i)" class="example-margin" [color]="color"
                                  [checked]="checked" [(ngModel)]="c.status">
                              </mat-slide-toggle>
                                  <!-- <button mat-stroked-button color="accent" >Status:{{c.status}}</button> -->
                              </div>
                              
                              <div class="col-md-1">
                                  <a mat-flat-button color="accent" class="ml20" routerLink="/admin/update-courses/{{c.cId}}">Update</a>
                              </div>
                              <div class="col-md-1 offset-md-6">
                              <button (click)="deleteCourse(c.cId)" mat-fab color="warn" class="ml20"><mat-icon>delete</mat-icon></button>
                              </div>
                          </div>
                      </div>
                  </div>      
              </mat-card>
            </mat-expansion-panel>
          </mat-accordion>
    </div>
</div>
<!-- {{courses|json}} -->