.status{
    background-color: green;
    color: #fff;
    border-radius: 50%;
}
#image{
    display: none;

}
.image{
    position: relative;
}
.upload img{
    width: 100px;
    height: 100px;
    margin: 0 20px 20px 0;
    /* position: absolute; */
    /* top: 76px; */
    /* left: 586px; */
}