.example-card {
    width: 100%;
    padding: 20px;
    margin-bottom: 10px;
}

.right{
  float: left;
  width: 80%;
  padding: 20px;
}
 img{
  width: 100%;
  height: 10rem;
  margin-bottom: 10px;
}
.course{
  padding: 20px;
  margin-bottom: 50px;
}
.container{
  align-items: center;
  text-align: center;
}
.course button{
  margin: auto;
}
.top{
  padding-top: 50px;
  font-size: 30px;
  font-weight: bold;
  font-family: sans-sarif;
}
@media screen and (max-width: 600px) {
  .course{
    font-size: 15px;
  }
  .top{
    font-size: 20px;
  }
  .title{
    font-size: 13px;
  }
  img{
    margin-bottom: 2px;
  }
  .example-card{
    padding: 20px;
    margin-bottom: 10px;
  }
}