<div class="bootstrap-wrapper">
    <div class="container">
        <div class="row mt50" >
            <div class="col-md-6 offset-md-3">
                <mat-card>
                    <div class="container text-center">
                        <img src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_960_720.png" height="100px" alt="profile">
                    </div> 
                    <h1 class="text-center">Forgot Password</h1>
    <!-- {{userData|json}} -->
                    <form [formGroup]="memberForm" *ngIf="!verifyEnable">
                        <mat-form-field class="full-width" appearance="outline">
                            <mat-label>Email</mat-label>
                            <input type="email" name="email" formControlName="email" matInput placeholder="Enter here">
                            <mat-icon matPrefix>account_circle</mat-icon>
                            <mat-error>Email is required</mat-error>
                            <!-- <mat-hint>Hint</mat-hint> -->
                        </mat-form-field>
                        <div class="spinner" *ngIf="spinner" style="margin-left: 50%;">
                            <mat-spinner></mat-spinner>
                        </div>
                        <mat-form-field *ngIf="otpEnable" class="full-width" appearance="outline">
                            <mat-label>OTP</mat-label>
                            <input type="otp" name="otp" formControlName="otp" matInput placeholder="Enter OTP here" title="Check your Email For Otp!!">
                            <mat-icon matPrefix>lock_reset</mat-icon>
                            <mat-error>OTP is required</mat-error>
                            <!-- <mat-hint>Hint</mat-hint> -->
                        </mat-form-field>
                        <div class="container text-center">
                            <!-- [disabled]="!memberForm.valid" -->
                            <button *ngIf="!otpEnable" type="submit"  mat-raised-button color="primary" (click)="sendOtp()">Send Otp</button>
                            <button *ngIf="otpEnable" type="submit"  mat-raised-button color="primary" (click)="sendOtp()">Resend Otp</button>
                            <button *ngIf="otpEnable" type="verify" style="margin-left: 20px;" mat-raised-button color="accent" (click)="verifyOtp()">Verify</button>
                        </div>
                    </form>

                    <form [formGroup]="forgotPassword" *ngIf="verifyEnable">
                        <mat-form-field class="w100" appearance="outline" *ngIf="otpEnable">
                            <mat-label>New Password</mat-label>
                            <input [type]="hide ? 'password' : 'text'" matInput formControlName="npassword">
                            <mat-icon matPrefix>lock</mat-icon>
                            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                              </button>
                            <mat-error>Password should be minimum 6 characters</mat-error>
                        </mat-form-field>
                        <div class="spinner" *ngIf="spinner" style="margin-left: 50%;">
                            <mat-spinner></mat-spinner>
                        </div>
                        <mat-form-field class="w100" appearance="outline" *ngIf="otpEnable">
                            <mat-label>Confirm New Password</mat-label>
                            <input [type]="hide ? 'password' : 'text'" matInput formControlName="cpassword">
                            <mat-icon matPrefix>lock</mat-icon>
                            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                              </button>
                            <mat-error>Password should be minimum 6 characters</mat-error>
                        </mat-form-field>
                        <div class="container text-center">
                            <!-- [disabled]="!memberForm.valid" -->
                            <button type="submit"  mat-raised-button color="primary" (click)="updatePassword()">Update Password</button>
                        </div>
                    </form>
                </mat-card>
                
                
            </div>
        </div>
    </div>
</div>