
<div class="bootstrap-wrapper">
    <div class="container-fluid">
<!-- <h1>Welcoime to Exam Portal Admin Dashboard</h1> -->
        <div class="row text-center">
            <div class="col-md-6">
                <mat-card>
                    <img src="./../../../../assets/images/exam.png" alt="" height="100px">
                    <p>Total Users <strong>{{allmember.length}}</strong></p>
                </mat-card>
            </div>
            <div class="col-md-6">
                <mat-card>
                <img src="./../../../../assets/images/exam.png" alt="" height="100px">
                <p>Active Users <strong>{{activemember}}</strong></p>
            </mat-card>
            </div>
            <div class="col-md-6">
                <mat-card>
                    <img src="./../../../../assets/images/exam.png" alt="" height="100px">
                    <p>Categories <strong>5</strong></p>
                </mat-card>
            </div>
            <div class="col-md-6">
                <mat-card>
                    <img src="./../../../../assets/images/exam.png" alt="" height="100px">
                    <p>Active Quizzes <strong>4</strong></p>
                </mat-card>
            </div>
        </div>
    </div>
</div>