<mat-card>
    <mat-action-list>
        <button *ngIf="menu" mat-subheader mat-button class="w100" (click)="Disable()">
            <mat-icon>menu</mat-icon>Menu
        </button>
        <button *ngIf="!menu" mat-subheader mat-button class="w100" (click)="Enable()">
            <mat-icon>menu</mat-icon>Menu
        </button>
        <div matCardContent *ngIf="!menu">
            <a mat-list-item routerLink="/quizzes/quizzes/0">
                <mat-icon mat-list-icon>home</mat-icon>Home
            </a>
            <a mat-list-item routerLink="/quizzes/pan/results/attempted">
                <mat-icon mat-list-icon>quiz</mat-icon>Quiz Attempts
            </a>
            <a mat-list-item routerLink="/profile">
                <mat-icon mat-list-icon>account_circle</mat-icon>Profile
            </a>
            <!-- <button mat-list-item routerLink="/user/all-quizzes"><mat-icon mat-list-icon>account_circle</mat-icon>All Quizzes</button> -->
<!-- {{category|json}} -->
            <a mat-list-item *ngFor="let c of category" routerLink="/quizzes/{{c.title}}/{{c.cid}}">
                <mat-icon mat-list-icon>category</mat-icon>{{c.title}}
            </a>
            <a (click)="logout()" mat-list-item routerLink="/">
                <mat-icon mat-list-icon>logout</mat-icon>Logout
            </a>
        </div>
    </mat-action-list>
</mat-card>