.text-center{text-align: center;}

.full-width{ width: 100%;}

.m10{padding: 10px;}

.m-auto{padding: auto;}

.p10{padding: 10px;}

.p20{padding: 20px;}

.mt50{margin-top: 50px;}

.mt20{margin-top: 20px;}

.mt10{margin-top: 10px;}

.mr20{margin-right: 20px;}

.ml10{margin-left: 10px;}

.ml20{margin-left: 20px;}

.mb20{margin-bottom: 20px;}

.mr20{margin-right: 20px;}

.w100{width: 100%;}

.text-left{text-align: left;}

.profile-image{max-height: 100px; max-width: 150px; border-radius: 55%; border:#3f51b5 3px solid;}

.table{width: 100%;  border-collapse: collapse;}

.table tr td{padding: 10px 20px; border: #8a8889 .5px solid;}

.card { transition: transform 0.2s ease; }

.card:hover { transform: scale(1.013); }

.card { box-shadow: 0 4px 6px 0 rgba(22, 22, 26, 0.18); border-radius: 0; border: 0; }

.card { transition: transform 0.2s ease; box-shadow: 0 4px 6px 0 rgba(22, 22, 26, 0.18); border-radius: 10px; border: 0; margin-bottom: 1.5em; }

.logo{ height: 90px; margin-top: -12px; }

.truncate{
  display:block;
  white-space: nowrap;
  width: 100%;
  max-height: 60px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.truncate:hover{
  white-space: normal;
  width: 100%;
  max-height: 60px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.align-content {    
  align-items: center;
  display: flex;
}
mat-toolbar{
    position: fixed;
}

.status{
  background-color: green;
  color: #fff;
  border-radius: 50%;
}
#image{
  display: none;

}
.image{
  position: relative;
}
.upload img{
  width: 200px;
  height: 150px;
  margin: 0 20px 20px 0;
  /* position: absolute; */
  /* top: 76px; */
  /* left: 586px; */
}

@media screen and (max-width: 992px) {
    body {
    }
  }
  
  /* On screens that are 600px or less, set the background color to olive */
  @media screen and (max-width: 600px) {
    body {
    }
  }