<!-- 
<p>load-quiz works!</p>
{{catId}} -->
<!-- {{quizData|json}} -->


<div class="bootstrap-wrapper">
    <div class="container-fluid mt20">
        <h1 class="mt20">Available Quizzes</h1>
        <div class="row" *ngIf="quizData">
            <div class="col-md-4" *ngFor="let q of quizData">
                <mat-card class="p10">
                    <mat-card-header>
                        <div mat-card-avatar class="example-header-image"></div>
                        <mat-card-title>
                            {{q.title}}
                        </mat-card-title>
                        <mat-card-subtitle>
                            {{q.category.title}}
                        </mat-card-subtitle>
                    </mat-card-header>
                    <mat-card-content>
                        <p class="truncate"> {{q.description}}</p>
                    </mat-card-content>
                    <mat-card-action>
                        <a mat-raised-button color="primary" [routerLink]="'/quizzes/instructins/' + q.title + '/' +q.qid">View</a>
                        <a mat-stroked-button color="accent" [routerLink]="'/quizzes/instructins/' + q.title + '/' +q.qid" style="margin-left: 10px;">Start</a>
                        <button mat-button color="accent">Questions:{{q.noOfQuestions}}</button>
                        <button mat-button color="accent">M.M:{{q.maxMarks}}</button>
                    </mat-card-action>
                </mat-card>
            </div>
            <div class="col-md-12" *ngIf="quizData.length == 0">
                <mat-card>
                    <mat-card-content>
                        <h1>No data in this category</h1>
                    </mat-card-content>
                </mat-card>
            </div>
        </div>
    </div>
</div>