
  .content {
    position: static;
    bottom: 0;
    /* background: rgba(0, 0, 0, 0.5); */
    /* color: #f1f1f1; */
    width: 100%;
    padding: 20px;
  }
  .example-card {
    max-width: 470px;
  }
  
  .example-header-image {
    background-image: url('./../../../assets/images/Sciaku-1.jpg');
    background-size: cover;
  }
  @media screen and (max-width: 992px) {
    iframe {
      width: 440px;
      height: 300px;
    }
  }
  
  /* On screens that are 600px or less, set the background color to olive */
  @media screen and (max-width: 600px) {
    iframe {
      width: 300px;
      height: 200px;
    }
    .example-card {
      max-width: 335px;
    }
  }