<section class="Home_banner__WnS5R">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <h1 class="text-center navbar-brand-font">Master <span></span><strong class="typed-cursor typed-cursor--blink" aria-hidden="true">|</strong></h1>
                <p class="text-center">This website provides you a technical and programming content like Java
                    Programming, Python Programming, C Programming, PHP Programming, Android Development, MEAN Stack,
                    MERN Stack, Web Development, etc. Learn how to make software, website, and applications here. Best
                    Video Courses in HINDI and English, These Paid courses are totally free of cost. Many people learn
                    from these courses daily for free. Our effort is to make you learn the technology free of cost.</p>
                <div class="text-center container">
                    <a class="btn" mat-raised-button color="primary" routerLink="/courses">Click here to start</a>
                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="bootstrap-wrapper">
      <div class="container-fluid">
          <mat-card class="mt20">
            <div class="row">
                <div class="col-md-12 text-center">
                        <h1 class="top">Top Free Courses</h1>
                        <mat-divider></mat-divider>
                </div>
                <mat-divider></mat-divider>
            </div>
            <!-- {{course|json}} -->
            <div class="container">
              <div class="row" *ngIf="loader">
                  <div class="col-md-4 col-sm-12 course" *ngFor="let c of courses;index as i">
                      <mat-card class="example-card card">
                          <mat-card-header>
                            <mat-card-title class="c_title">#{{i+1}} {{c.title}}</mat-card-title>
                          </mat-card-header>
                          <img mat-card-image src="{{imgUrl + 'courses/' + c.thumbnail}}" alt="{{c.thumbnail}}" height="180px">
                          <mat-card-content>
                            <p class="truncate">{{c.description}}</p>
                          </mat-card-content>
                          <mat-card-actions>
                              <a mat-raised-button color="primary" routerLink="/courses/course-details/{{c.url}}/{{c.cId}}">Start Learning</a>
                            <!-- <button mat-button color="accent">LIKE</button>
                            <button mat-button color="primary">SHARE</button> -->
                          </mat-card-actions>
                        </mat-card>
                  </div>
    
              </div></div>
              <div class="row">
                <div class="col-md-12" *ngIf="!loader">
                  <mat-card>
                    <h1 class="text-center">Courses are not found!!</h1>
                  </mat-card>
                </div>
                <div class="col-md-12" *ngIf="!spinner">
                  <!-- <mat-spinner></mat-spinner> -->
                </div>
              </div>
          </mat-card>
      </div>
    </div>
    </section>
<!-- <div class="bootstrap-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <mdb-carousel [controls]="true" [indicators]="false" [dark]="true" [animation]="'fade'" >
                    <mdb-carousel-item>
                        <img src="assets/images/home/h1.jpg" class="d-block w-100" alt="..." />
                        <div class="carousel-caption d-none d-md-block">
                            <div class="mslider-details">
                                <div class="slider-text1 text-thm2">Charity organizations</div>
                                <div class="slider-text2">Build a Beautiful World</div>
                                <div class="slider-text3">
                                    <p>We Build a Fundraising For Help Less People</p>
                                </div>
                                <a routerLink="/donate" class="btn btn-lg ulockd-btn-thm2 ulockd-home-btn" data-toggle="modal"
                                    data-target=".bs-example-modal-default"><span> Donate Now</span></a>
                            </div>
                        </div>
                    </mdb-carousel-item>
                </mdb-carousel>
            </div>
        </div>

    </div>
</div> -->
<section>
    <div class="container-fluid">
        <mat-card class="mt20">
            <div class="row">
                <div class="col-md-12">
                    <div class="text-center">
                        <h1>Great way to start Interactive quizzes for Engineering Students</h1>
                    </div>
                </div>
                <div class="col-md-8 offset-md-2">
                    <mat-card-content>
                        <p class="text-center m10">
                            <mat-card-subtitle>Welcome to <a
                                    href="https://sciaku.com/">Sciaku.com</a>.</mat-card-subtitle>It's very fast and
                            easy to create fun, interactive quizzes, so let's <a routerLink="/signup">Register</a> on
                            Sciaku and log in for attempts at the quizzes. Sciaku has many quizzes in many Categories
                            for B.Tech Engineering Students. Quizzes have many questions and many different options and
                            answers. your all attempted quizzes showing in <a routerLink="/user/pan/attempted">Quiz
                                attempts</a>.
                            Here you see your performance and results. You download your result in PDF format when you
                            submit any quiz.
                        </p>
                    </mat-card-content>
                </div>
            </div>
        </mat-card>
    </div>
</section>
<section>
    <div class="container">
        <div class="row mt20 ">
            <div class="col-md-4 mb10" *ngFor="let v of videoId">
                <mat-card class="example-card card">
                    <mat-card-header>
                        <!-- <div mat-card-avatar class="example-header-image"></div> -->
                        <!-- <mat-card-title>
                            <h1>Sciaku</h1>
                        </mat-card-title>
                        <mat-card-subtitle>Science Knowledge</mat-card-subtitle> -->
                    </mat-card-header>
                    <mat-card-content>
                        <div class="player">
                            <youtube-player videoId="{{v.id}}" [height]="height" [width]="width" suggestedQuality="hd720">
                            </youtube-player>
                        </div>
                    </mat-card-content>
                </mat-card>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <mat-card class="mt10">
                    <div class="row text-center mt10">
                        <div class="col-md-4">
                            <h1>My YouTube Channel</h1>
                        </div>
                        <div class="col-md-4 offset-md-4">
                            <button mat-button style="background-color: red;">
                                <a
                                    style=" color:white; text-decoration:none;"
                                    href="https://www.youtube.com/channel/UCkjl-snXMAF_pVAJdSVRGyQ"
                                    target="_blank">Subscribe Now
                                </a>
                            </button>
                        </div>
                    </div>
                </mat-card>
            </div>
        </div>
    </div>
</section>