.example-card {
  max-width: 400px;
}

.top {
  padding: 20px;
  font-size: 35px;
  font-weight: bold;
  font-family: sans-sarif;
  text-transform: uppercase;
}
.c_title{
  font-size: 20px;
  font-weight: bold;
  font-family: sans-sarif;
}
.course {
  padding: 10px;
}

@media screen and (max-width: 600px) {
  .example-card {
    max-width: 100%;
  }
  .top{
    font-size: 20px;
  }
  .c_title{
    font-size: 16px;
  }
}