<!-- 
<div class="bootstrap-wrapper">
    <h1 class="mt10 mr20 ml20">Lectures of <span style="color: grey; font-weight:bold;">{{qTitle}}</span></h1>

    <div class="row">
        <div class="col-md-12">
            <div class="containner text-center">
                <a mat-raised-button color="accent" routerLink="/admin/add-course-lectures/{{qId}}/{{qTitle}}">Add Course Lectures</a>
            </div>
            {{questions|json}}
            <mat-card class="mt20 card" *ngFor="let q of questions; index as i">
                <mat-card-content>
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-2">
                                <strong>Lecture {{i+1}}) {{q.l_title}}</strong>
                            </div>
                            <div class="col-md-2">
                                <a routerLink="/admin/course-lectures/{{q.lId}}/{{q.l_title}}"
                                    mat-raised-button color="accent">Add Videos</a>
                            </div>
                            <div class="col-md-2">
                                <a routerLink="/admin/update-course-lecture/{{q.lId}}/{{q.l_title}}"
                                    mat-raised-button color="accent">Update Lecture</a>
                            </div>
                            <div class="col-md-2">
                                Status
                                <mat-slide-toggle class="example-margin" [color]="color"
                                [checked]="checked" [(ngModel)]="q.status">
                            </mat-slide-toggle>
                            </div>
                            <div class="col-md-2 offset-md-2 ">
                                <button (click)="deleteQuestion(q.vId)" mat-fab color="warn"
                                    style="margin-left: 30px;"><mat-icon>delete</mat-icon></button>
                            </div>
                        </div>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div> -->